
@{
    ViewData["Title"] = "Index";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Elenco dei corsi</title>
    </head>
    <body>
        <h1>Index dei corsi</h1>
    </body>
    </html>

